body {
    font-family: 'Lato', sans-serif;
}

#header {
    height: 100vh;
    background-image: url(../img/Background.png);
    background-position: top;
    overflow-x: hidden;
    background-size: cover;
    padding-top: 50px;
}

#aboutMe {
    /*height: 100vh;*/
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}

#skills {
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
}

#projects {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}

#contact {
    background-image: url(../img/Background.png);
    background-position: top;
    overflow-x: hidden;
    background-size: cover;
}

#naviBar {
    height: 50px;
    background-image: url(../img/Background.png);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom-width: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    width: 100%;
    position: fixed;
    z-index: 1030;
    padding-right: 30px;
    padding-left: 30px;
}

.socialmedia>a>img {
    float: left !important;
    text-align: center;
    height: 50px;
    padding: 10px 15px 10px;
}

.socialmedia>a>img:hover {
    height: 55px;
    padding: 5px 15px 10px;
}

.naviButton>a {
    float: right !important;
    text-align: center;
    font-size: 15px;
    color: white;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 50px;
    letter-spacing: 1px;
    text-decoration: none;
}
.col-md-6 {
    height: 100%; /*to fit the window height*/
}

.col-parent{
    height: 100%; /*to fit the window height*/
    position: relative;
}

.bulbSlides { /*the lightbulb itself*/
    position: absolute;
    top: 13%; left: 0; right: 0; bottom: 0;
    max-height: 75%; 
    width: auto;
    margin: 0 auto;       
}

.bulbItem {
    position: absolute;
    top: 13%; left: 0; right: 0; bottom: 0;
    max-height: 75%;
    width: auto;
    margin: 0 auto;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -moz-animation-name: fade;
    -moz-animation-duration: 1.5s;
    -ms-animation-name: fade;
    -ms-animation-duraion: 1.5s;
}

@keyframes fade{
    from {opacity: 0}
    to {opacity: 1}
}

@-webkit-keyframes fade{
    from {opacity: 0}
    to {opacity: 1}
}

@-moz-keyframes fade{
    from {opacity: 0}
    to {opacity: 1}
}

@-ms-keyframes fade{
    from {opacity: 0}
    to {opacity: 1}
}

.naviButton a:hover {
    cursor: pointer;
    font-size: 20px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

div.transbox {
    border: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    height: 65%;
    max-width: 85%;
    position: relative;
    top: 20%;
    padding: 5%;
}

h1 {
    margin: 0px;
    opacity: 1;
    filter: alpha(opacity=100);
    font-size: 8vmin;
    font-weight: 800;
    color: white;
    text-align: center;
}

h2{
    margin-top: 5px;
    font-size: 3vmin;
    font-weight: 400;
    color: #d34500;
    text-align: center;
}

hr.divider {
    border-top: 1px solid white;
    text-align: center;
    margin-top: 20px;
}

div.transbox p {
    font-size: 2.7vmin;
    font-weight: 300;
    color: white;
    text-align: center;
}

h3 {
    font-size: 7vmin;
    color: #ff4e00;
    font-weight: 700;
    text-align: center;
    /*margin-top: 90px;*/
    padding-top: 90px;
    margin-top: 0;
    margin-bottom: 0px;
}

#contact h3 {
    color: white;
}

#contact p {
    color: white;
    text-align: center;
    font-size: 2.5vmin;
    width: 40%;
    max-width: 520px;
    margin: 20px auto 20px;
    min-width: 350px;
}

#myPhoto {
    margin-top: 60px;
    margin-bottom: 30px;
}

#myPhoto a {
    text-decoration: none;
    color: white;
    background-color: #ff6d00;
    width: 45%;
}

#myPhoto a:hover {
    background-color: #d34500;
}

#myPhoto img {
    width: 50%;
    display: block;
    margin: 0px auto 20px;
}

p {
    font-size: 2.5vmin;
    font-weight: 300;
    color: #2f2f2f;
    text-align: left;
}

#content p {
    padding-left: 0px; padding-top: 50px; padding-right: 100px; padding-bottom:50px;
}

#skills img {
    margin: 30px auto 30px;
    display: block;
    width: auto;
}

#skill1 img{
    height: 100px;
}

#skill2 img {
    height: 100px;
}

#skill3 img{
    height: 100px;
}

#skill4 img{
    height: 100px;
}

#skill5 img{
    height: 100px;
}

#skill6 img{
    height: 100px;
}

#skill7 {
    height: 150px;
}

#project1 {
    text-align: justify;
    width: 409.594px;
    margin: 60px auto;
}

#project2 {
    text-align: justify;
    width: 356.135px;
    margin: 60px auto;
}

#project3 {
    text-align: justify;
    width: 409px;
    margin: 60px auto;
}

#project4 {
    text-align: justify;
    width: 409px;
    margin: 60px auto;
}

.project img {
    display: block;
    height: 200px;
    box-shadow: 5px 5px 20px #c2c2c2;
}

h4 {
    margin-top: 20px;
    font-size: 2.7vmin;
    font-weight: 700;
    color: #383838;
    text-align: left;
}

.url {
    font-size: 2.2vh;
    font-weight: 700;
    color: #ff4e00;
}

.url:hover {
    color: #2f2f2f;
    text-decoration: none;
}

/*---------------Contact form--------------*/
form {
    max-width: 520px;
    min-width: 350px;
    width: 40%;
    margin: 20px auto 50px;
}

.feedback-input {
    color: black;
    background-color: white;
    font-weight: 400;
    font-size: 18px;
    border-radius: 3px;
    line-height: 22px;
    border: 2px solid white;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
}

.feedback-input:focus {
    border: 5px solid #ff4e00;
    outline: 0;
}

textarea {
    height: 140px;
    resize: vertical;
}

[type="submit"] {
    width: 100%;
    background: #ff4e00;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 600;
    border: 0;
}

[type="submit"]:hover {
    background: #d34500;
}
/*------------------Media------------------*/
@media only screen and (max-width: 1150px) {
     
    #content p {
        /*font-size: 2.5vh;*/
        padding-right: 20px;
    }
}


@media only screen and (max-width: 991px) {
    div.transbox {
        max-width: 75%;
        top: 10%;
        margin: 0 auto;
    }

    #content p {
        top: 0px; left: 0px; right: 0px; bottom: 0px;
        padding: 0px;
        margin: 0 auto;
        width: 85%;
    }

    #content.col-md-6.other {
        height: 60vh;
    }
}